@font-face {
  font-family: "Campanile-Light";
  src: url("../../fonts/Campanile-Light.eot") format("eot"), url("../../fonts/Campanile-Light.otf") format("otf"), url("../../fonts/Campanile-Light.ttf") format("ttf"), url("../../fonts/Campanile-Light.woff") format("woff"), url("../../fonts/Campanile-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Campanile-Regular";
  src: url("../../fonts/Campanile-Regular.eot") format("eot"), url("../../fonts/Campanile-Regular.otf") format("otf"), url("../../fonts/Campanile-Regular.ttf") format("ttf"), url("../../fonts/Campanile-Regular.woff") format("woff"), url("../../fonts/Campanile-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Campanile-Medium";
  src: url("../../fonts/Campanile-Medium.eot") format("eot"), url("../../fonts/Campanile-Medium.otf") format("otf"), url("../../fonts/Campanile-Medium.ttf") format("ttf"), url("../../fonts/Campanile-Medium.woff") format("woff"), url("../../fonts/Campanile-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Campanile-Bold";
  src: url("../../fonts/Campanile-Bold.eot") format("eot"), url("../../fonts/Campanile-Bold.otf") format("otf"), url("../../fonts/Campanile-Bold.ttf") format("ttf"), url("../../fonts/Campanile-Bold.woff") format("woff"), url("../../fonts/Campanile-Bold.woff2") format("woff2");
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #003254;
  font-family: "Campanile-Regular";
}

img {
  width: 100%;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #3bc974;
  padding: 10px;
  display: inline-block;
  margin-top: 30px;
  font-family: "Campanile-Medium";
}

header {
  text-align: center;
}

header .header__images {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .header__images .header__images-logo {
  position: absolute;
  width: 60%;
  margin-top: 30px;
}

header .header__images .header__images-bgd-desk {
  display: none;
}

header .header__contents {
  background-color: #003254;
  color: #fff;
  padding: 25px;
}

header .header__contents .header__date-offre {
  font-family: "Campanile-Medium";
  text-transform: uppercase;
}

header .header__contents hr {
  height: 3px;
  background-color: #fff;
  border: none;
  width: 100px;
  margin: 10px auto 20px;
  border-radius: 20px;
}

header .header__contents .header__offre {
  color: #3bc974;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Campanile-Medium";
  display: block;
  margin: 5px 0;
  letter-spacing: .1rem;
}

header .header__contents .header__code-promo {
  display: inline-block;
  border: 3px solid #fff;
  font-family: "Campanile-Medium";
  border-radius: 5px;
  padding: 3px;
  font-size: 1.5rem;
  margin: 10px auto 15px;
  letter-spacing: .1rem;
}

header .header__contents .header__description3 {
  font-family: "Campanile-Light";
  font-size: 0.8rem;
}

main .container {
  position: relative;
}

main .container__img {
  width: 85%;
  height: 100%;
  max-height: 500px;
  overflow: hidden;
}

main .container__description {
  padding: 15px;
}

main .container.top {
  margin-top: 30px;
}

main .container.top .container__img .dot2 {
  display: none;
}

main .container.bottom {
  text-align: right;
  margin-top: 100px;
}

main .container.bottom .container__img {
  margin: 30px 0 0 auto;
}

main .container.bottom .container__img .dot3 {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  header .header__images {
    height: 100%;
    max-height: 500px;
  }
  header .header__images .header__images-logo {
    width: 30%;
  }
  header .header__images .header__images-bgd-mob {
    display: none;
  }
  header .header__images .header__images-bgd-desk {
    display: block;
  }
  header .header__contents hr {
    width: 400px;
  }
  header .header__contents .header__description1 {
    display: none;
  }
  header .header__contents .header__offre {
    display: inline;
  }
  header .header__contents .header__code-promo {
    display: inline;
  }
  header .header__contents .header__description3 {
    margin-top: 10px;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .container__img {
    width: 50%;
    overflow: visible;
    height: 100%;
  }
  main .container .container__description {
    width: 50%;
  }
  main .container .container__description .ligne-decoration {
    background-color: #003254;
    display: block;
    height: 3px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  main .container.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main .container.top .container__img .dot2 {
    width: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    margin-right: 10px;
  }
  main .container.top .container__description {
    text-align: right;
    margin-right: 15px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .container.top .container__description .ligne-decoration {
    margin: 0 0 20px auto;
    padding-right: 15px;
  }
  main .container.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container.bottom .container__img .bloc-visu2 {
    margin-left: 30px;
  }
  main .container.bottom .container__img .dot3 {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    margin: 0;
  }
  main .container.bottom .container__description {
    text-align: left;
    margin-left: 40px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 992px) {
  header .header__images .header__images-logo {
    width: 20%;
  }
  header .header__contents {
    width: 70%;
    margin: auto;
  }
  main {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  header .header__contents {
    width: 60%;
  }
  main {
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */